# Week 4: Document-Based Stores (MongoDB)
### Student ID: [#####]
### Subtasks Done: [#,#,..]

### Task 1: Create a simple MongoDB out of this relational model

This is  a toy DB about movies and actors who played roles in these movies. This DB is consisted of  

- A "Person" table who has a unique id, and a name fields.

- Another "Movie" table that has a unique id, a title, a country where it was made, and a year when it was released.

- There is (m-n) or "many-many" relationship between these two tables (i.e basically, many actors can act in many movies, and the movie include many actors)
- Therefore, we use the "Roles" table in which we can deduct which person has acted in which movie, and what role(s) they played.

<img src="RDBSchema.png" alt="3" border="0">

In [ ]:
! pip install pymongo

In [1]:
from pymongo import MongoClient
from random import randint
from pprint import pprint

import warnings
warnings.filterwarnings('ignore')

#### Connect to the MongoDB server, and create a mongoDB with the name 'moviedb'

In [6]:
##YOUR CODE HERE
client = MongoClient("mongodb://root:example@mongo:27017/")
db = client['moviedb']
db

Database(MongoClient(host=['mongo:27017'], document_class=dict, tz_aware=False, connect=True), 'moviedb')

#### Create Person/Actor collection

In [7]:
##YOUR CODE HERE
actor_coll = db['actor']
actor_coll

Collection(Database(MongoClient(host=['mongo:27017'], document_class=dict, tz_aware=False, connect=True), 'moviedb'), 'actor')

#### Insert the data into the Person Table

In [8]:
actorList = [
  { "id": 1, "name": "Charlie Sheen" },
  { "id": 2, "name": "Michael Douglas"},
  { "id": 3, "name": "Martin Sheen"},
  { "id": 4, "name": "Morgan Freeman"}
]

### YOUR CODE HERE
actors = actor_coll.insert_many(actorList)
actors

In [ ]:
### YOUR CODE HERE
person_coll = db['person']
person_coll.insert_many(actorList)

#### Creating rest of Collections ("Movies", "Roles")

In [9]:
restcols = ["Movies", "Roles"]

for col in restcols:
    ...###YOUR CODE HERE

#### Inserting data into the movie Collection

In [10]:
movies_coll = db['movies']

movieList = [
  { "id": 1, "title": "Wall Street", "country":"USA","year":1987},
  { "id": 2, "title": "The American President", "country":"USA","year":1995},
  { "id": 3, "title": "The Shawshank Redemption", "country":"USA","year":1994},
]

movies = movies_coll.insert_many(movieList)
movies

#### Inserting data into the roles Collection

In [11]:
roles_coll = db['roles']

roleList = [
  { "personId": 1, "movieId": 1, "role":["Bud Fox"]},
  { "personId": 2, "movieId": 1, "role":["Carl Fox"]},
  { "personId": 3, "movieId": 1, "role":["Gordon Gekko"]},
  { "personId": 2, "movieId": 2, "role":["A.J. MacInerney"]},
  { "personId": 3, "movieId": 2, "role":["President Andrew Shepherd"]},
  { "personId": 4, "movieId": 3, "role":["Ellis Boyd 'Red' Redding"]}
]

roles = roles_coll.insert_many(roleList)
roles

### <font color ='green'>Just for your info</font>:

#### Another Way of Modeling this M-N model in Mongo would be using the Forien Keys 


* Movies


```[

{
	"_id": 1,
	"title":"Wall Street",
	"country":"USA",
	"year":1987,
	"persons":[1,2]
},

{
	"_id": 2,
	"title":"The American President",
	"country":"USA",
	"year":1995,
	"persons":[2]
}]
```
* Actors

```
[{
    "_id": 1,
    "name": "Charlie Sheen",
    "movies":[
    {"role": "Bud Fox", "movie_id":1}
    ]
},

{
    "_id": 2,
    "name": "Micheal Douglas",
    "movies":[
    {"role": "Gordon Geko", "movie_id":1},
    {"role": "President Andrew Shepherd", "movie_id":2}
    ]
}

] ```

#### Get all actors in your Mongo DB

In [12]:
### YOUR CODE HERE
all_actor = actor_coll.find()
for actor in all_actor:
    print(actor)

{'_id': ObjectId('652ef009dc13bcf499be335e'), 'id': 1, 'name': 'Charlie Sheen'}
{'_id': ObjectId('652ef009dc13bcf499be335f'), 'id': 2, 'name': 'Michael Douglas'}
{'_id': ObjectId('652ef009dc13bcf499be3360'), 'id': 3, 'name': 'Martin Sheen'}
{'_id': ObjectId('652ef009dc13bcf499be3361'), 'id': 4, 'name': 'Morgan Freeman'}

#### Get actors with names start with 'C' letter

In [13]:
###YOUR CODE HERE
actors = actor_coll.find({
    "name": { "$regex": "/^C/" }
})
actors

#### Get all Movies sorted from recent to old! (get only the title and year fields)

In [14]:
### YOUR CODE HERE
movies = movies_coll.find({}, 
    { "_id": 0, "title": 1, "year": 1 }
).sort("year", -1)
for movie in movies:
    print(movie)
print("Movies: ", movies)

{'title': 'The American President', 'year': 1995}
{'title': 'The Shawshank Redemption', 'year': 1994}
{'title': 'Wall Street', 'year': 1987}
Movies:  <pymongo.cursor.Cursor object at 0x7fe0538e3150>

#### Get all Movies released in the 90s (after year (1990) and before 2000) ordered from old to recent.

In [16]:
### YOUR CODE HERE
movies = movies_coll.find({
    "year": {"$gt": 1990, "$lt": 2000}
    }).sort("year", )
for movie in movies:
    print(movie)

{'_id': ObjectId('652ef011dc13bcf499be3364'), 'id': 3, 'title': 'The Shawshank Redemption', 'country': 'USA', 'year': 1994}
{'_id': ObjectId('652ef011dc13bcf499be3363'), 'id': 2, 'title': 'The American President', 'country': 'USA', 'year': 1995}

#### Get Movies and Actors from your "movies" DB
* Hint : use the <code>'$lookup'</code> operator.
* The Result should be something like the following:
<code>
Charlie Sheen : Wall Street
Michael Douglas : Wall Street
Martin Sheen : Wall Street
Michael Douglas : The American President
Martin Sheen : The American President
Morgan Freeman : The Shawshank Redemption
</code>

In [27]:
### YOUR CODE HERE
results = roles_coll.aggregate([
    {
        "$lookup": {
            "from": "actor",
            "localField": "personId",
            "foreignField": "id",
            "as": "actor"
        }
    },
    {
        "$unwind": "$actor"
    },
    {
        "$lookup": {
            "from": "movies",
            "localField": "movieId",
            "foreignField": "id",
            "as": "movie"
        }
    },
    {
        "$unwind": "$movie"
    },
    {
        "$project": {
            "_id": 0,
            "actor": "$actor.name",
            "movie": "$movie.title",
            "role": 1
        }
    }
])
for result in results:
    print(result)

{'role': ['Bud Fox'], 'actor': 'Charlie Sheen', 'movie': 'Wall Street'}
{'role': ['Carl Fox'], 'actor': 'Michael Douglas', 'movie': 'Wall Street'}
{'role': ['Gordon Gekko'], 'actor': 'Martin Sheen', 'movie': 'Wall Street'}
{'role': ['A.J. MacInerney'], 'actor': 'Michael Douglas', 'movie': 'The American President'}
{'role': ['President Andrew Shepherd'], 'actor': 'Martin Sheen', 'movie': 'The American President'}
{'role': ["Ellis Boyd 'Red' Redding"], 'actor': 'Morgan Freeman', 'movie': 'The Shawshank Redemption'}

#### For each Actor, get count of "Movies" he acted in.

In [32]:
### YOUR CODE HERE
results = roles_coll.aggregate([
    {
        "$lookup": {
            "from": "actor",
            "localField": "personId",
            "foreignField": "id",
            "as": "actor"
        }
    },
    {
        "$unwind": "$actor"
    },
    {
        "$lookup": {
            "from": "movies",
            "localField": "movieId",
            "foreignField": "id",
            "as": "movie"
        }
    },
    {
        "$unwind": "$movie"
    },
    {
        "$project": {
            "_id": 0,
            "actor": "$actor.name",
            "movie": "$movie.title"
        }
    },
    {
        "$group": {
            "_id": "$actor",
            "count": { "$sum": 1 }
        }
    }
])
for result in results:
    print(result)

{'_id': 'Charlie Sheen', 'count': 1}
{'_id': 'Martin Sheen', 'count': 2}
{'_id': 'Morgan Freeman', 'count': 1}
{'_id': 'Michael Douglas', 'count': 2}

#### In your DB, list the movies that every Actor played

In [33]:
### YOUR CODE HERE
results = roles_coll.aggregate([
    {
        "$lookup": {
            "from": "actor",
            "localField": "personId",
            "foreignField": "id",
            "as": "actor"
        }
    },
    {
        "$unwind": "$actor"
    },
    {
        "$lookup": {
            "from": "movies",
            "localField": "movieId",
            "foreignField": "id",
            "as": "movie"
        }
    },
    {
        "$unwind": "$movie"
    },
    {
        "$project": {
            "_id": 0,
            "actor": "$actor.name",
            "movie": "$movie.title"
        }
    },
    {
        "$group": {
            "_id": "$actor",
            "movies": { "$push": "$movie" }
        }
    }
])
for result in results:
    print(result)

{'_id': 'Michael Douglas', 'movies': ['Wall Street', 'The American President']}
{'_id': 'Martin Sheen', 'movies': ['Wall Street', 'The American President']}
{'_id': 'Charlie Sheen', 'movies': ['Wall Street']}
{'_id': 'Morgan Freeman', 'movies': ['The Shawshank Redemption']}

#### Get the Persons/Actors who acted in "Wall Street" movie
- Hint use `$lookup` , `$match` operators in the aggregation piepeline

In [ ]:
###YOUR CODE HERE
results = actor_coll.aggregate([
    {
        "$lookup": {
            "from": "roles",
            "localField": "id",
            "foreignField": "personId",
            "as": "roles"
        }
    },
    {
        "$unwind": "$roles"
    },
    {
        "$lookup": {
            "from": "movies",
            "localField": "roles.movieId",
            "foreignField": "id",
            "as": "movies"
        }
    },
    {
        "$unwind": "$movies"
    },
    {
        "$match": {
            "movies.title": "Wall Street"
        }
    },
    {
        "$project": {
            "_id": 0,
            "actor": "$name",
            "movie": "$movies.title",
            "role": "$roles.role"
        }
    }
])
for result in results:
    print(result)

#### Get the Movies in which "Micheal Douglas" has played a role in

In [49]:
###YOUR CODE HERE
movies = movies_coll.aggregate([
    {
        "$lookup": {
            "from": "roles",
            "localField": "id",
            "foreignField": "movieId",
            "as": "roles"
        }
    },
    {
        "$unwind": "$roles"
    },
    {
        "$lookup": {
            "from": "actor",
            "localField": "roles.personId",
            "foreignField": "id",
            "as": "actors"
        }
    },
    {
        "$match": {
            "actors.name": "Michael Douglas"
        }
    },
    # {
    #     "$group": {
    #         "_id": "roles.role",
    #         "totalRoles": { "$sum": 1 }
    #     }
    # },
    # {
    #     "$match": {
    #         "totalRoles": 1
    #     }
    # },
    {
        "$project": {
            "_id": 0,
            "movie": "$title",
            "role": "$roles.role"
        }
    }
])
for movie in movies:
    print(movie)

{'movie': 'Wall Street', 'role': ['Carl Fox']}
{'movie': 'The American President', 'role': ['A.J. MacInerney']}

#### Get count of "Movies" in your DB

In [50]:
###YOUR CODE HERE
movies_count = movies_coll.count_documents({})
print("Number of movies: ", movies_count)

Number of movies:  3

#### update the year of the 'Wall Street' movie was released in to be 2000(which is not true BTW :)
- Show that movie before and After updating it

In [51]:
###YOUR CODE HERE
wall_street = movies_coll.find_one({"title": "Wall Street"})
print("Wall Street: ", wall_street)

movies_coll.update_one(
    {"title": "Wall Street"},
    {"$set": {"year": 2000}}
)
wall_street = movies_coll.find_one({"title": "Wall Street"})
print("After update, Wall Street: ", wall_street)

Wall Street:  {'_id': ObjectId('652ef011dc13bcf499be3362'), 'id': 1, 'title': 'Wall Street', 'country': 'USA', 'year': 1987}
After update, Wall Street:  {'_id': ObjectId('652ef011dc13bcf499be3362'), 'id': 1, 'title': 'Wall Street', 'country': 'USA', 'year': 2000}

####  Delete all the persons with names start with 'M' letter.

In [52]:
###YOUR CODE HERE
actors = actor_coll.find({
    "name": { "$regex": "/^M/" }
})
for actor in actors:
    print(actor)

###YOUR CODE HERE
movies_coll.delete_many({ "name": { "$regex": "/^M/" } })
actors = actor_coll.find({
    "name": { "$regex": "/^M/" }
})
print("After delete: ")
for actor in actors:
    print(actor)

After delete:

### Task 2: Extend your Mongo-"MovieDB" 

Imagine now that we are going to extend our DB with new movies, actors, even with new directors.

- We add <b>**"The matrix"**</b> movie which was released in <b> USA, (1999)</b>, and has a new property/field "Tagline" <b>("Welcome to the Real World")</b>.
 
- We will also add 4 new actors (Person):
    - **"Keanu Reeves"** who was born in (1964). <font color='green'>Note:</font> "born" property is also new.
    - **"Carrie-Anne Moss"** who was born in (1967).
    - **"Laurence Fishburne"** who was born in (1960).
    - **"Hugo Weaving"** who was born in (1960).
    
- Moreover, we add 2 directors (Person) :
    - **"Lilly Wachowski"**, born in (1967)
    - **"Lana Wachowski"**, born in(1965)
- For these directors specify one more label/field as ("Director"). (You can add this while inserting the director documents)
    
 
- We will also create a new <b>collection "Directed" </b> that is directed from the later 2 directors to "the Matrix" movie.

#### Add the Movie "The Matrix" with the provided data to the Movies collection

In [53]:
###YOUR CODE HERE
the_matrix_movie = { "id": 4, "title": "The Matrix", 
                    "country":"USA","year":1999,
                    "tagline": "Welcome to the Real World" }
movies_coll.insert_one(the_matrix_movie)

#### Insert the new 4 actors to the person collection

In [54]:
#Notice, How is easy to add a new feild compared to the RDB
newActorList = [
  { "id": 5, "name": "Keanu Reeves", "born":1964 },
  { "id": 6, "name": "Carrie-Anne Moss", "born":1967},
  { "id": 7, "name": "Laurence Fishburne", "born":1960},
  { "id": 8, "name": "Hugo Weaving", "born":1960}
]

###YOUR CODE HERE
actor_coll.insert_many(newActorList)

#### Insert the new 2 directors to the person collection

In [55]:
###YOUR CODE HERE
directorList = [
  { "id": 1, "name": "Lana Wachowski", "born":1965, "label": "Director"},
  { "id": 2, "name": "Lilly Wachowski", "born":1967, "label": "Director"}
]

person_coll.insert_many(directorList)

#### Create the "Directed" collection, and insert the data into it

In [56]:
###YOUR CODE HERE
directed_coll = db['directed']
directedList = [
  { "directorId": 1, "movieId": 4},
  { "directorId": 2, "movieId": 4}
]
person_coll.insert_many(directedList)

#### Get only the directors from the person collection (i.e. persons marked with the label "Director")

In [57]:
###YOUR CODE HERE
directors = person_coll.find({
    "label": "Director"
})
for director in directors:
    print(director)

{'_id': ObjectId('652f009edc13bcf499be3370'), 'id': 1, 'name': 'Lana Wachowski', 'born': 1965, 'label': 'Director'}
{'_id': ObjectId('652f009edc13bcf499be3371'), 'id': 2, 'name': 'Lilly Wachowski', 'born': 1967, 'label': 'Director'}

#### Perform a query that get persons (names, and born year) who Directed "The Matrix" movie.

In [66]:
###YOUR CODE HERE
results = directed_coll.aggregate([
    {
        "$lookup": {
            "from": "person",
            "localField": "directorId",
            "foreignField": "id",
            "as": "director"
        }
    },
    {
        "$unwind": "$director"
    },
    {
        "$lookup": {
            "from": "movies",
            "localField": "movieId",
            "foreignField": "id",
            "as": "movie"
        }
    },
    {
        "$unwind": "$movie"
    },
    {
        "$project": {
            "_id": 0,
            "director": "$director.name",
            "movie": "$movie.title"
        }
    }
])
for result in results:
    print(result)

 ## How long did it take you to solve the homework?
 
Please answer as precisely as you can. It does not affect your points or grade in any way. It is okey, if it took 0.5 hours or 24 hours. The collected information will be used to improve future homeworks.

<font color="red"><b>Answer:</b></font>

**<center> <font color='red'>THANK YOU FOR YOUR EFFORT!</font></center>**